/* Texte */
html{
    background-image: url(https://media3.giphy.com/media/m0emhR2YaQA3csb3op/200w.gif?cid=6c09b952kjcrc8t5c6qzjuccq9ppg5h165zjir4rdp4f38dt&rid=200w.gif&ct=g);
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1.3rem;
    height:100%;
    width:100%;
}

h1{
    text-align: center;
    padding: 0;
    margin: 0;
}

input{
    opacity: 0.4;
}
input:hover{
    opacity: 1;
}

hr{
    size: 1px;
    width: 80%;
}

table{
    margin: 0px 200px 0px 200px;
}

.hr1{
    size: 1px;
    width: 70%;
}

/* Header et Footer */

header{
    width:100%;
    height: 130px;
    background-color: transparent;
    padding-bottom: 10px;
}
ul{
    padding: 0;
}

footer {
    padding-top: 25px;
    margin-top: 0;
    width:100%;
    height:120px;   /* Hauteur du pied de page */
}

/* Body et Corp */ 
div{
    text-align: center;
    padding: 60px 0px 50px 0px;
    display: block;
}

.div1{
    text-align: center;
    padding: 100px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form{
    margin: 0px 200px 0px 200px;
}

#Formulaire{
    margin: auto;
    width: 700px;
    border-radius: 25px;
    padding: 60px 30px 60px 30px;
    background-color: transparent;
}

#locate{
    color: white;
}

/* Image Chat Git*/

#cat{
    object-fit: contain;
}

/*  list1 et list2 ( nav footer et header )     */  

.list1{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.list2{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin: -10;
}

/* hover des <a> */
a:hover{
    transform: translate(0, -6px);
    filter: drop-shadow(0px 5px 5px white);
    opacity: 1;
}


button{
    border: none;
    opacity: 0.6;
    margin-left: 15px;
    padding: 2px 2px; 
    transition: all .6s;
}