/* Texte */
h1{
    text-align: center;
    padding: 0;
}

.Module{
    font-size: 3vmax;
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 6px rgb(82, 82, 82);
    text-align: center;
    margin: 0;

}

/* Body et Corp */ 
body{
    height: 2500px;
}

.div1{
    text-align: center;
}

/* Header et Footer */

header{
    bottom:0;  /* on le colle en bas */
    width:100%;
    background-color: rgb(199, 47, 47);
    padding-bottom: 15px;
}

footer {
    padding-top: 16px;
    margin: 0;
    width:100%;
    height:100px;   /* Hauteur du pied de page */
    background-color: rgb(43, 59, 148);
    position: absolute;
}


/*  Div , list1 ( footer et header )     */  

.list1{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.list2{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
}

/* hover des <a> */

.btn2{
    border-radius: 70px;
    margin-left: 15px;
    padding: 2px 2px; 
    transition: all .6s;
}